* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 200vh;
    font-size: 1.5rem;
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

.outerBox {
    border: 2px solid black;
    width: 75vw;
    height: 90vh;
    margin: 15px auto;
    position: relative;
}

.innerBox {
    border: 2px solid green;
    width: 40vw;
    height: 50vh;
    margin: 170px auto;
}

.absolute {
    background-color: blue;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
}

.relative {
    background-color: gray;
    position: relative;
    width: 150px;
    height: 150px;
    top: 50px;
    left: 100px;
}

.fixed {
    background-color: red;
    position: fixed;
    width: 150px;
    height: 150px;
    z-index: 1;
    top: 150px;
}

.sticky {
    background-color: yellowgreen;
    position: sticky;
    width: 150px;
    height: 150px;
    top: 0;
    z-index: 2;
}

.social {
    position: fixed;
    top: 130px;
    left: 0;
    z-index: 1;
}

section {
    height: 100vh;
}


header,
footer {
    font-size: 5rem;
    color: white;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

header {
    position: sticky;
    top: 0;
}

footer {
    background-color: black;
    position: sticky;
    bottom: 0;
}