* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 2rem;
    /* min-height: 100vh; */
}

/* main {
    width: 50%;
} */

p {
    margin: 0;
    /* padding: 0.5rem; */
    background-color: red;
}

.span {
    display: inline-block;
    background-color: blue;
    margin-top: 20px;
}

ul {
    list-style-type: disc;
    padding-left: 2rem;
    list-style-position: inside;
    /* margin: 0.5rem; */
    background-color: black;
    text-align: right;

}

li {
    display: inline-block;
    /* padding-inline: 5rem; */
    /* color: white; */
    margin-inline: 0.5rem;
}