body {
    font-size: 1.5rem;
}

section {
    column-count: 3;
    column-width: 150px;
    column-gap: 3rem;
    column-rule: 2px double pink;
}

.columns p {
    margin-top: 0;
}

h2 {
    break-inside: avoid;
    background-color: gray;
    break-before: column;
    text-align: center;
}

.columns .quote {
    margin-top: 2rem;
    column-span: all;
    font-size: 3rem;
}

span {
    white-space: nowrap;
}