body {
    font-size: 1rem;
}

.block {
    /* display: flex; */
    width: 30vw;
    height: 30vw;
    background-color: black;
    color: white;
    padding: 0.5rem;
    /* justify-content: center;
    align-items: center; */
}

.left {
    float: left;
    margin-right: 0.5rem;
}

.right {
    float: right;
    margin-left: 0.5rem;
}

section {
    background-color: steelblue;
    padding: 1rem;
    display: flow-root;
    border: 5px solid green;
    border-radius: 3rem;
}